<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% if settings.favicon_enable %}
		<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
    {% endif %}

	<!-- Title and description ================================================== -->
	<title>
        {{ shop.name }} - {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
	</title>

    {% if page_description %}
		<meta name="description" content="{{ page_description | escape }}">
    {% endif %}

	<!-- Helpers ================================================== -->
    {% include 'social-meta-tags' %}
	<link rel="canonical" href="{{ canonical_url }}">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<meta name="theme-color" content="{{ settings.color_primary }}">

	<!-- CSS ================================================== -->
    {{ 'normalise.css'  | asset_url | stylesheet_tag }}
    {{ 'blank.css'  | asset_url | stylesheet_tag }}

	<!-- Header hook for plugins ================================================== -->
    {{ content_for_header }}
    {% include 'oldIE-js' %}

    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
    {{ 'modernizr.min.js' | asset_url | script_tag }}

    {% comment %}
	If you store has customer accounts disabled, you can remove the following JS file
    {% endcomment %}
    {% if template contains 'customers' %}
        {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}

</head>

<body>
<!-- Navigation Toggle Button -->
<a href="#nav" class="nb" title="Jump to the main navigation" role="button">Menu</a>

<!-- Header -->
<header class="h" role="banner">
	<h1 id="logo"><a href="#"><img src="http://placehold.it/260x68" alt="Your Logo" /></a></h1>
</header>

<!-- Mobile Navigation -->
<nav id="nav" class="nav" role="navigation">
	<ul class="navul">
		<li><a href="#">Link One</a></li>
		<li><a href="#">Link Two</a></li>
		<li><a href="#">Link Three</a></li>
		<li><a href="#">Link Four</a></li>
		<li><a href="#">Link Five</a></li>
	</ul>
</nav>

<!-- Nav Closing Button -->
<a href="#top" class="nc" role="button" title="Jump back to the start of the document">X</a>

  <div id="wrapper">
    <div id="header">
	  <h1>{{ shop.name }}</h1>
		<div id="top-nav">
			<div class="menu"> 
			<ul class="menu">
		    	{% for link in linklists.main-menu.links %}
			      <li class="menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
			    {% endfor %}
			  </ul>
			<div>
		</div>
		<div id="cart">
			<h3>Shopping Cart</h3>
			<p class="cart-count">
				{% if cart.item_count == 0 %}
					Your cart is currently empty
				{% else %}
					{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} <span>-</span> Total: {{cart.total_price | money_with_currency }} <span>-</span> <a href="/cart">View Cart</a>
				{% endif %}			
			</p>
		</div>

    </div><!-- #header -->
	
    <div class="content">
      {{ content_for_layout }}
    </div><!-- .content -->
	&nbsp;
  </div><!-- #wrapper -->
&nbsp;
</body>
</html>